[build]
command = "npm run generate"
publish = "dist"

[build.environment]
NODE_VERSION = "20.19.0"
NPM_VERSION = "10.2.4"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[[headers]]
  for = "/manifest.webmanifest"
  [headers.values]
    Content-Type = "application/manifest+json"

[[headers]]
  for = "/assets/*"
  [headers.values]
    cache-control = '''
    max-age=31536000,
    immutable
    '''
